body {
  background-color: #1e1e1f;
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #f2fd7d;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

p {
  color: #c9c7ba;
  line-height: 1.6;
  text-align: center;
}

#info {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: #252527;
}

#search-form {
  margin: 2rem auto;
  border: 1px solid grey;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #333;
}

#country-code {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

#submit-search {
  padding: 10px 11px;
  border-radius: 10px;
  background: #f2fd7d;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#submit-search:hover {
  background: #e5e756;
}

#details {
  text-align: center;
  margin: 2rem 0;
}

#image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#image img {
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 20px;
}

#span-details {
  display: flex;
  gap: 1rem;
}
#span-details span {
  border: 1px solid #f2fd7d;
  border-radius: 10px;
  padding: 10px;
}
#user-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-comment form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#submit-comments {
  align-self: flex-end;
  padding: 0.5rem;
  cursor: pointer;
}
