body {
  background-color: #29292b;
}

h1 {
  color: #f2fd7d;
}

p {
  color: #c9c7ba;
}

#info {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
}

#search-form {
  margin-top: 2rem;
  border: 1px solid grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

#span-details {
  display: flex;
  gap: 1rem;
}
#span-details span {
  border: 1px solid #f2fd7d;
  border-radius: 10px;
  padding: 10px;
}

#image img {
  width: 200px;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 20px;
  height: 200px;
}

#user-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-comment form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#submit-comments {
  align-self: flex-end;
  padding: 0.5rem;
  cursor: pointer;
}
